{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}
    <h1>Vytvorenie nového člena</h1>

    {{ include('member/_form.html.twig') }}

    <a href="{{ path('app_member_index') }}">späť</a>
{% endblock %}
